<div class="" style="background-image: url(<%= article.image %>);">
  <div class="">
    <span><%= image_tag '' %></span>
    <ul class="">
    <% if user_signed_in? && current_user.id == article.user_id %>
      <li>
        <%= link_to 'Edit', edit_article_path(article.id), method: :get %>
      </li>
      <li>
        <%= link_to 'Delete', article_path(article.id), method: :delete %>
      </li>
    <% end %>
    </ul>
  </div>
  <p><%= link_to article.title, article_path(article.id), method: :get %></p>
  <% if article.categories.any? %>
    <p>Categories: <%= render article.categories %></p>
  <% end %>
  <span class="">
    <a href="/users/<%= article.user.id %>">
      <span><%= article.user.nickname %></span>
    </a>
  </span>
</div>