<div class="" style="background-image: url(<%= article.image %>);">
  <div class="">
    <span><%= image_tag '' %></span>
    <ul class="">
      <li>
        <%= link_to 'Edit', edit_article_path(article.id), method: :get %>
      </li>
      <li>
        <%= link_to 'Delete', article_path(article.id), method: :delete %>
      </li>
    </ul>
  </div>
  <p><%= link_to article.title, article_path(article.id), method: :get %></p>
  <span class="">
    <a href="/users/<%= article.user.id %>">
      <span><%= article.user.nickname %></span>
    </a>
  </span>
</div>