<p class="title is-1 is-spaced has-text-centered">
  <%= @article.title %></p>

<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="<%= @article.image %>" alt="Placeholder image">
    </figure>
    <p id="author"><%= link_to @article.title, article_path(@article.id), method: :get %></p>
    <% if @article.categories.any? %>
    <p id="category">Categories: <%= render @article.categories %></p>
    <% end %>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= link_to @article.user.nickname, user_path(@article.user.id) %></p>
      </div>
    </div>

    <div class="content">

      <p>
        <%= @article.description %>
      </p>

      <% if user_signed_in? && current_user.id == @article.user_id %>
      <%= link_to 'Edit', edit_article_path(@article.id), method: :get %>
      <%= link_to 'Delete', article_path(@article.id), method: :delete %>
      </p>
      <% end %>

      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-reply"></i></span>
          </a>
          <a class="level-item"
            href="http://twitter.com/share?url=<%=request.url%>&text=<%=@article.description%>&hashtags=wiki_log"
            target="_blank">
            <span class="icon is-small">
              <i class="fas fa-retweet"></i>
            </span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-heart"></i></span>
          </a>
        </div>
      </nav>
      <time datetime="time"><%= time_ago_in_words(@article.updated_at) %> ago</time>
    </div>
  </div>
</div>

<p class="title is-1 is-spaced has-text-centered">
  Comment
</p>

<article class="media">
  <div class="media-content">
    <% if current_user %>
    <%= form_with(model: [@article, @comment], local: true) do |form| %>
    <div class="field">
      <div class="control">
        <%= form.text_area :text, placeholder: "comment", rows: "2", class: "textarea"%>
      </div>
      <div class="control">
        <%= form.submit "SEND" ,class: "button is-info "%>
      </div>
    </div>
    <% end %>
    <% else %>
    <div>
      <strong>
        <p class="has-text-centered	">
          <%= link_to "if you want comment Login Here", new_user_session_path, class: 'post' %></p>
      </strong>
    </div>
    <% end %>

    <div class="field">
      <% if @comments %>
        <% @comments.each do |comment| %>
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %></strong>
                <small><time><%= time_ago_in_words(@article.updated_at) %> ago</time></small>
                <br>
                <%= comment.text %>
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-reply"></i></span>
                </a>
                <a class="level-item"
                  href="http://twitter.com/share?url=<%=request.url%>&text=<%=comment.text%>&hashtags=wiki_log"
                  target="_blank">
                  <span class="icon is-small">
                    <i class="fas fa-retweet"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-heart"></i></span>
                </a>
              </div>
            </nav>
          </div>
        </article>
        <% end %>
      <% end %>
    </div>

  </div>
</article>